# Ignore docs files
_gh_pages
_site
.ruby-version

# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~

# Object code
*.pyc
*.pyo

# OS or Editor folders
._*
.cache
.DS_Store
.idea
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db

# Komodo
.komodotools
*.komodoproject

# grunt-html-validation
validation-report.json
validation-status.json

# VIMENV
vimenv/active_environment/
vimenv/general/plugin/*
!vimenv/general/plugin/bundle
vimenv/general/plugin/bundle/*
!vimenv/general/plugin/bundle/Vundle.vim
vimenv/general_test
vimenv/test_dir


# Folders to ignore
bower_components
node_modules

# Odoo files to ignore:
.mailmap
addons/web/.bowerrc
addons/web/static/lib/py.js/.hg_archival.txt
doc/_static/.placeholder
